.table tr,
.table tr td{
    vertical-align: middle;
}
.dee button {
    background-color: #dc3545; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    display: inline;
    margin: 0px 0px 0px 500px;
  }
  